{% extends 'cryptocurrency/base.html' %}
{% block title %}Cryptocurrency | Prices{% endblock %}

{% block body %}
{% load staticfiles %}
<div id="darkBackground" class="col-sm-12" style="border: 2px solid white;word-wrap: break-word;border-radius: 0px 0px 15px 15px;border-top: 0px;">
  <h1 id="techFont3" style="font-size: 400%;text-align: center;">Cryptocurrency Prices</h1>
  <h3 style="text-align: center;"><a href="https://coinmarketcap.com/">More Cryptocurrency Prices (Source: CoinMarketCap)</a></h3>
</div>

<div class="col-sm-12">
  <br>
</div>

<div id="darkBackground" class="col-sm-6" style="word-wrap: break-word;border: 2px solid white;border-radius: 15px;">
  <br>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="false" data-stats="USD" data-statsticker="true"></div>
  <!-- Button trigger modal -->
  <div style="text-align:center;">
    <button style="text-align:center;" type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#BTCModal">
      BTC Week View
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="BTCModal" tabindex="-1" role="dialog" aria-labelledby="BTCModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color:black;" class="modal-title" id="BTCModalLabel">BTC Week View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v2/coin/chart?fsym=BTC&tsym=USD&period=1W';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>



<div id="darkBackground" class="col-sm-6" style="word-wrap: break-word;border: 2px solid white;border-radius: 15px;">
  <br>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <div class="coinmarketcap-currency-widget" data-currencyid="1027" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="false" data-stats="USD" data-statsticker="true"></div>
  <!-- Button trigger modal -->
  <div style="text-align:center;">
    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#ETHModal">
      ETH Week View
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="ETHModal" tabindex="-1" role="dialog" aria-labelledby="ETHModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color:black;" class="modal-title" id="ETHModalLabel">ETH Week View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v2/coin/chart?fsym=ETH&tsym=USD&period=1W';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div id="darkBackground" class="col-sm-6" style="word-wrap: break-word;border: 2px solid white;border-radius: 15px;">
  <br>
<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
<div class="coinmarketcap-currency-widget" data-currencyid="1437" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="false" data-stats="USD" data-statsticker="true"></div>
  <!-- Button trigger modal -->
  <div style="text-align:center;">
    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#ZECModal">
      ZEC Week View
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="ZECModal" tabindex="-1" role="dialog" aria-labelledby="ZECModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color:black;" class="modal-title" id="ZECModalLabel">ZEC Week View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v2/coin/chart?fsym=ZEC&tsym=USD&period=1W';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div id="darkBackground" class="col-sm-6" style="word-wrap: break-word;border: 2px solid white;border-radius: 15px;">
  <br>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <div class="coinmarketcap-currency-widget" data-currencyid="1698" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="false" data-stats="USD" data-statsticker="true"></div>
  <!-- Button trigger modal -->
  <div style="text-align:center;">
    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#ZENModal">
      ZEN Week View
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="ZENModal" tabindex="-1" role="dialog" aria-labelledby="ZENModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color:black;" class="modal-title" id="ZENModalLabel">ZEN Week View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v2/coin/chart?fsym=ZEN&tsym=USD&period=1W';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div id="darkBackground" class="col-sm-6" style="word-wrap: break-word;border: 2px solid white;border-radius: 15px;">
  <br>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <div class="coinmarketcap-currency-widget" data-currencyid="1321" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="false" data-stats="USD" data-statsticker="true"></div>
  <!-- Button trigger modal -->
  <div style="text-align:center;">
    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#ETCModal">
      ETC Week View
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="ETCModal" tabindex="-1" role="dialog" aria-labelledby="ETCModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color:black;" class="modal-title" id="ETCModalLabel">ETC Week View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v2/coin/chart?fsym=ETC&tsym=USD&period=1W';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div id="darkBackground" class="col-sm-6" style="word-wrap: break-word;border: 2px solid white;border-radius: 15px;">
  <br>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <div class="coinmarketcap-currency-widget" data-currencyid="328" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="false" data-stats="USD" data-statsticker="true"></div>
  <!-- Button trigger modal -->
  <div style="text-align:center;">
    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#XMRModal">
      XMR Week View
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="XMRModal" tabindex="-1" role="dialog" aria-labelledby="XMRModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color:black;" class="modal-title" id="XMRModalLabel">XMR Week View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v2/coin/chart?fsym=XMR&tsym=USD&period=1W';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div id="darkBackground" class="col-sm-6" style="word-wrap: break-word;border: 2px solid white;border-radius: 15px;">
  <br>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <div class="coinmarketcap-currency-widget" data-currencyid="573" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="false" data-stats="USD" data-statsticker="true"></div>
  <div style="text-align:center;">
    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#BURSTModal">
      BURST Week View
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="BURSTModal" tabindex="-1" role="dialog" aria-labelledby="BURSTModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color:black;" class="modal-title" id="BURSTModalLabel">BURST Week View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v2/coin/chart?fsym=BURST&tsym=USD&period=1W';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

{% endblock %}