{% extends 'cryptocurrency/base.html' %}
{% block title %}Cryptocurrency | Sources{% endblock %}

{% block body %}
{% load staticfiles %}
<div id="darkBackground" class="col-sm-12" style="border: 2px solid white;word-wrap: break-word;border-radius: 0px 0px 15px 15px;text-align:center;border-top: 0px;">
    <font id="techFont3" style="font-size: 400%">Sources For More Information</font>
    
</div>

<div class="col-sm-12">
    <br>
</div>

<div id="darkBackground" class="col-sm-12" style="border: 2px solid white;word-wrap: break-word;border-radius: 15px;text-align:center;">
      <br>
      <h3>These are the sites I used as sources. Please feel free to explore them to learn more about cryptocurrencies!</h5>
         <ul>
           <h5>References:</h5>
           <li><a href="https://www.coindesk.com/">CoinDesk</a></li>
           <li><a href="https://blockgeeks.com/">Blockgeeks</a></li>
           <li><a href="https://www.cryptocompare.com">CryptoCompare</a></li>
           <li><a href="https://cryptojunction.com">CryptoJunction</a></li>
           <li><a href="https://coinmarketcap.com/">CoinMarketCap</a></li>
           <br>
           
           <h5>YouTube Channels:</h5>
           <li><a href="https://www.youtube.com/VoskCoin">VoskCoin</a></li>
           <br>
           
           <h5>Wallets:</h5>
           <li><a href="https://bitcoin.org/en/bitcoin-core/">Bitcoin Core</a></li>
           <li><a href="https://litecoin.org/">Litecoin Core</a></li>
           <li><a href="https://jaxx.io">Jaxx</a></li>
           <li><a href="https://www.exodus.io">Exodus</a></li>
           <br>
           
           <h5>Blockchain Explorers:</h5>
           <li><a href="https://etherscan.io">Etherscan (Ethereum)</a></li>
           <li><a href="https://blockchain.info">Blockchain.info (Bitcoin)</a></li>
           <li><a href="https://explorer.zcha.in">Zchain (Zcash)</a></li>
           <br>
           
           <h5>Exchanges:</h5>
           <li><a href="https://www.coinbase.com">Coinbase</a></li>
           <li><a href="https://poloniex.com">Poloniex</a></li>
           <li><a href="https://bittrex.com">Bittrex</a></li>
           <li><a href="https://www.kraken.com">Kraken</a></li>
           <br>
           
           <h5>Mining Pools:</h5>
           <li><a href="http://flypool.org">Flypool</a></li>
           <li><a href="https://nanopool.org">Nanopool</a></li>
           <li><a href="https://ethermine.org/">Ethermine</a></li>
           <li><a href="https://dwarfpool.com/">DwarfPool</a></li>
           <br>
           
           <h5>Mining Earnings Calculators:</h5>
           <li><a href="https://www.cryptocompare.com/mining/calculator/btc?HashingPower=4730&HashingUnit=GH%2Fs&PowerConsumption=1293&CostPerkWh=0.12&MiningPoolFee=1">CryptoCompare</a></li>
           <li><a href="https://whattomine.com/">Whattomine</a></li>
           <br>
         </ul>
        <div style="border">
    </div>
</div>

{% endblock %}